<div class="middle">
  <div class="limiter">
    <h3> Search Results</h3>
    <% if @users.length > 0 %>
      <%= @users.length %> users found
      <table border="1" cellpadding="5">
        <tr>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Add ', friendships_path(:friend_id => user), :method => :post %></td>
          </tr>
        <% end %>
      </table>
      <br />
      <br />
    <% else %>
      No users were returned
    <% end %>
	<br /><%= link_to "My Profile", user_path(@user) %>
	<div class="clear"></div>
  </div>
</div>

