<div class="bottom">
  <div class="limiter">
    <div class="footerNavigation">
      <ul>
		<% if !current_user %>
        	<li><%= link_to "login", :login %></li>
		<% else %>
			<li><%= link_to "logout", :logout %></li>
		<% end %>
        <li><%= link_to "register new account", new_user_path %></li>
        <li><%= link_to "learn about us", :about %></li>
        <li><%= link_to "contact us", :contact %></li>
      </ul>
    </div>
    <div class="footerInformation">
      <p>
        Copyright &copy; 2011 Sitter Calling. All rights reserved.
      </p>
    </div>
  </div>
</div>
