<div class="top">
  <div class="limiter">
    <div class="floatL">
      <a href="#"><img alt="Sitter Calling" src="/images/logo_home.png" /></a>
    </div>
    <div class="floatR">
      <%= form_for (@user_session or UserSession.new), :login do |f| %>
        <table>
          <tbody>
            <tr>
 			  <td></td>
			  <td><%= f.label :email %></td>
			  <td><%= f.label :password %></td>
			  <td></td>
			  <td></td>
            </tr>
            <tr>
			  <td><%= f.text_field :email, :class => 'inputUsername' %></td>
			  <td><%= f.password_field :password, :class => 'inputPassword' %></td>
              <td><%= f.submit "Sign In", :class => 'scButton' %></td>
			  <!--
			  	<td><% 
			  		#link_to "Request Password Reset", new_forgot_password_path 
			  		%>
			  	</td>
			  -->
            </tr>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
</div>