<div class="middle">
  <div class="limiter">
    <div class="box">
      <h2>New invitation</h2>
      <p>
      Send an invitation to somebody you would like to network with on SitterCalling. When the user registers you will automatically be connected in each other's network and you'll be alerted with an email.
      </p>
      <% form_for(@invitation) do |f| %>
        <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
        </p>
        <p>
          <%= f.submit 'Create' %>
        </p>
      <% end %>
    </div>
    <%= link_to 'Back', user_url(current_user) %>
    <%= link_to 'Pending', invitations_url %>
    <div class="clear"></div>
  </div>
</div>
