<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'stylesheet' %>
  </head>
  <body
  <%= notice %>
  <%= debug(params) if Rails.env.development? %>
  <div class="home">

      <div class="container">
		  
        <div class="top">
          <div class="limiter">
            <div class="floatL">
              <a href="#"><img alt="Sitter Calling" src="/images/logo_home.png" /></a>
			</div>
			
            <div class="floatR">
	
			</div>
			
	      </div>
	    </div>

		  <%= yield %>
		
		<div class="gradient"></div>
		  <%= render("shared/footer")%>
	    </div>

  </div>
  </body>
</html>